@font-face {
  font-family: "mariupolRegular";
  src: url('~@/assets/fonts/Mariupol-Regular.ttf') format("truetype")
 }

@font-face {
  font-family: "mariupolBold";
  src: url('~@/assets/fonts/Mariupol-Bold.ttf') format("truetype")
 }
 
@font-face {
  font-family: "rsRegular";
  src: url('~@/assets/fonts/RS-regular.otf') format("opentype")
 }
 